alabaster==1.0.0
apache-beam==2.48.0
apache-flink==1.20.0
apache-flink-libraries==1.20.0
avro-python3==1.10.2
babel==2.16.0
blinker==1.4
certifi==2024.8.30
charset-normalizer==3.4.0
cloudpickle==2.2.1
command-not-found==0.3
confluent-kafka==2.6.1
contourpy==1.3.0
crcmod==1.7
cryptography==3.4.8
cycler==0.12.1
dbus-python==1.2.18
dill==0.3.1.1
distro==1.7.0
distro-info==1.1+ubuntu0.1
dnspython==2.7.0
docopt==0.6.2
docutils==0.21.2
exceptiongroup==1.2.2
fastavro==1.9.7
fasteners==0.19
find_libpython==0.4.0
fonttools==4.53.1
graphviz==0.20.3
grpcio==1.67.1
hdfs==2.7.3
httplib2==0.22.0
idna==3.10
imagesize==1.4.1
importlib-metadata==4.6.4
iniconfig==2.0.0
jeepney==0.7.1
Jinja2==3.1.4
keyring==23.5.0
kiwisolver==1.4.7
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
MarkupSafe==3.0.2
matplotlib==3.9.2
more-itertools==8.10.0
netifaces==0.11.0
numpy==1.24.4
oauthlib==3.2.0
objsize==0.6.1
orjson==3.10.11
packaging==24.1
pandas==2.2.3
pemja==0.4.1
pillow==10.4.0
pluggy==1.5.0
proto-plus==1.25.0
protobuf==4.23.4
py4j==0.10.9.7
pyarrow==11.0.0
pydot==1.4.2
Pygments==2.18.0
PyGObject==3.42.1
PyJWT==2.3.0
pymongo==4.10.1
pyparsing==3.2.0
pytest==8.3.4
python-apt==2.4.0+ubuntu2
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==5.4.1
regex==2024.11.6
requests==2.32.3
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
SecretStorage==3.3.1
six==1.16.0
snowballstemmer==2.2.0
Sphinx==8.1.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
systemd-python==234
tomli==2.2.1
typing_extensions==4.12.2
tzdata==2024.2
ubuntu-advantage-tools==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==2.2.3
wadllib==1.3.6
zipp==1.0.0
zstandard==0.23.0
